{% extends "base.html" %}

{% block title %}Upload Document{% endblock %}

{% block content %}
{% if success%}
    <div class="row">
        <div class="col">
            <div class="thank-you-wrapper">
                <div class="alert alert-success">Thank you for uploading: {{client_doc.d_desc}}</div>
            </div>
        </div>
    </div>
{% else %}
<div class="row">
    <div class="col">
        <div class="upload-form-wrapper">
            <h3>Please upload: {{client_doc.d_desc}}</h3>

            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label for="id_d_file" class="form-label">File</label>
                        <input type="file" id="id_d_file" name="d_file">

                        {% if error_message %}
                        <div class="field-error-wrapper">
                            <div class="alert alert-danger">{{ error_message }}</div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="mb-3">
                    <input type="submit" value="Upload" class="btn btn-sm btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
